[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
pydantic = "*"
pydantic-settings = "*"
tensorflow = "*"
opencv-python = "*"
numpy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "python3 main.py"
prod = "gunicorn main:app -b 0.0.0.0:8001"